.cdk-overlay-pane {
  background-color: #1e1e1e !important;
  color: white !important;
}
.mat-mdc-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

span {
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

div button {
  position: absolute;
  left: 1rem;
}

div button mat-icon {
  font-size: 3rem;
  height: 3rem;
  width: 2rem;
}
