mat-card {
  width: 40%;
  margin: auto;
  text-align: center;
}
mat-card-header {
  margin: auto;
}

.inputFlex {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

mat-card-content,
button {
  margin-top: 1rem;
}
